body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

h2, h3 {
  margin-bottom: 20px;
  color: black; /* Títulos em vermelho */
}
.onde{
  color:black ;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Três colunas no grid */
  gap: 20px;
  margin-bottom: 20px;
}

.outro {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Três colunas no grid */
  gap: 20px;
  margin-bottom: 20px;
}

input, textarea {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

textarea {
  height: 120px;
  grid-column: span 2; /* O textarea ocupa as duas primeiras colunas */
}

.photo-section {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;
  margin-bottom: 20px;
}

.photo-placeholder {
  width: 240px; /* Aumenta o tamanho do espaço de imagem */
  height: 150px; /* Aumenta a altura do espaço de imagem */
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #ff0000;
  cursor: pointer;
  position: relative;
}

.photo-placeholder img {
  width: 100%;
  height: 100%;
  /* Faz com que a imagem cubra o espaço sem distorcer */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input[type="file"] {
  display: none;
}

textarea {
  width: 725px;
  grid-column: span 3; /* O textarea ocupa todas as três colunas */
}


.confirm-button {
  grid-column: 3; /* O botão de confirmação ocupa a terceira coluna */
  margin-top: 10px;
  padding: 15px;
  border: none;
  width: 230px;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
  font-size: 26px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra abaixo do botão */
}

.confirm-button:hover {
  background-color: #cc0000;
}

@media (min-width: 768px) {
  .form-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
